.change-password-page
  .change-password-block
    mixinFormBlock()

  .change-password-form
    mixinForm()
    padding 10px

  .change-password-title
    mixinTitleGradient()

  .change-password-text, .back-button
    mixinFormText()

  .back-button
    mixinBackButton()

  .change-password-button
    mixinFormButton()
    padding 10px 0
    background linearGradient()

  .border
    mixinBorder()
