myBlack = #232323
myGrey = #3c3c3c
myLightGrey = #8a8a8a
myWhite = #F4F4F4
myGreen = #2c952c
myYellow = #d4b677
myPink = #f29488
myPinkShadow = #f2948880
myRed = #e74c3c
myRedError = #e74c3c80
myBlackout = #00000070
myShadow = #23232380
myNone = #00000000

linearGradient()
  linear-gradient(to bottom right, #F58080, #F2E2A9)
