myBlack = #232323
myGrey = #3c3c3c
myWhite = #F4F4F4
myRed = #e74c3c
myRedError = #e74c3c80
myBlackout = #00000070
myShadow = #23232380

linearGradient()
  linearGradientColor(to bottom right, #F58080, #F2E2A9)