.csat
  display block
  position fixed
  width 400px
  height 200px
  right 20px
  bottom 20px
  border-radius 20px
  opacity 1
  background-color myWhite
  transition opacity 0.3s ease

  .csat-close-button
    position absolute
    right 10px
    top 10px
    width 25px
    padding 0
    opacity 0.5
    transition transform 0.3s ease, opacity 0.3s ease

    &:hover
      transform scale(1.05)
      opacity 1

  &.hidden
    display none

  &.hidden-animation
    opacity 0