headerButton()
    margin-right 15px
    background-color myBlack
    color white
    border none
    border-radius 15px
    cursor pointer
    font-size 17px
    font-weight: bold;

.header
    display flex
    justify-content space-between
    align-items center
    padding 10px 20px

.logo-image
    height 80px
    cursor pointer

.header-menu
    display flex
    align-items center

.header-button
    padding 7px 25px
    headerButton()

.user-button
    padding: 7px 0;
    headerButton()

.user-button.show
    padding 7px 25px