.header
    display flex
    justify-content space-between
    align-items center
    padding 10px 20px

.logo-image
    height 80px
    cursor pointer

.header-menu
    display flex
    align-items center

.header-button
    simpleButton(myBlack, myWhite)

.header-button.hidden
    display none

.user-button
    simpleButton(myBlack, myWhite)
    padding 7px 0

.user-button.show
    padding 7px 25px