.header
    display flex
    justify-content space-between
    align-items center
    padding 10px 20px

    .logo-image
        height 80px
        cursor pointer
        margin 10px 10px
        transition transform 0.3s ease

        &:hover
            transform scale(1.05)

    .header-menu
        display flex
        align-items center

    .header-button
        mixinButton(myBlack, myWhite)
        transition transform 0.3s ease

        &:hover
            transform scale(1.1)

        &.hidden
            display none

    .user-button
        mixinButton(myBlack, myWhite)
        padding 7px 0
        transition color 0.3s ease

        &:hover
            color myRed

        &.show
            padding 7px 25px
