.home-page
    mixinSideMenu()

    hr
        border 1px solid myWhite
        width 20%

    .headline
        border 10px
        margin-bottom 10px
        text-align center
        color myWhite
        font-size 40px

        @media (max-width 700px)
            font-size 30px

    .filters
        display flex
        flex-direction row
        padding 0px 10px
        margin auto
        margin-top 10px
        justify-self start
        background none
        color myWhite
        border-radius 10px
        width 50px
        opacity 0.5
        overflow hidden
        transition all 0.5s ease

        @media (max-width 700px)
            flex-direction column
            height 40px
            align-items center

        .filter-icon
            height 30px
            justify-self center
            align-self center
            margin-right 15px
            transition rotate 0.5s ease

            @media (max-width 700px)
                margin 0

            &:hover
                rotate 180deg

        &:hover
            background myGrey
            width 480px
            opacity 1

            @media (max-width 700px)
                width fit-content
                height fit-content

        .filter
            margin-right 20px
            cursor pointer
            white-space nowrap
            width fit-content
            justify-content center
            padding 10px 0

            @media (max-width 700px)
                margin 0

            &:hover
                color myPink

    .categories
        display flex
        width 90%
        margin auto
        flex-direction row
        column-gap 10px
        overflow-x scroll
        scrollbar-width none
        justify-content center

        .category
            display block
            text-align center
            padding 5px 20px
            align-content center
            background myGrey
            color myWhite
            border-radius 15px
            cursor pointer
            min-width fit-content
            height 30px
            opacity 0.5
            transition all 0.3s ease

            &:hover
                opacity 1
                transform scale(1.05)

            &.active
                opacity 1
                background myPink

        @media (max-width 700px)
            overflow-x scroll
            scrollbar-width none
            justify-content start

        img
            padding 0


    .gallery-block
        mixinBlock(myBlack)

        @media (max-width 700px)
            margin 0
            padding 15px 0px

    .gallery
        padding 20px
        list-style none
        columns 3 300px
        justify-content center
        margin-top 0

    .gallery-item
        border-radius 20px
        margin auto
        width 300px
        height 100%
        cursor pointer
        -webkit-column-break-inside avoid /* Chrome, Safari, Opera */
        page-break-inside avoid /* Firefox */
        break-inside avoid /* IE 10+ */

        img
            object-fit cover
            width 100%
            height 100%
            border-radius 20px
            transition transform 0.3s ease

            &:hover
                transform scale(1.02)

        .gallery-name
            text-align center
            padding 10px
            margin 0
            color myWhite
            width 100%
            margin-bottom 20px

    .profile-button
        mixinButton(myBlack, myWhite)
