.home-page
    mixinSideMenu()

    hr
        border 1px solid myWhite
        width 20%

    .headline
        border 10px
        margin-bottom 10px
        text-align center
        color myWhite
        font-size 40px

        @media (max-width 700px)
            font-size 30px

    .gallery-block
        mixinBlock(myBlack)

    .gallery
        padding 20px
        list-style none
        columns 3 300px

    .gallery-item
        border-radius 20px
        margin auto
        width 300px
        height 100%
        transition transform 0.3s ease
        cursor pointer

        &:hover
            transform scale(1.02)

        img
            object-fit cover
            width 100%
            height 100%
            border-radius 20px

        .gallery-name
            text-align center
            padding 10px
            margin 0
            color myWhite
            width 100%

    .profile-button
        mixinButton(myBlack, myWhite)
