@import 'colors.styl'
@import 'mixins.styl'
@import 'error.styl'
@import 'header.styl'

@import 'home-gallery.styl'
@import 'auth.styl'
@import 'registration.styl'
@import '404.styl'
@import 'profile.styl'
@import 'trips.styl'
@import 'place.styl'
@import 'create-trip.styl'
@import 'change-password.styl'

@font-face
    font-style normal
    font-weight bold
    font-family 'IBM Plex Mono'
    src local('IBM Plex Mono Bold'), url('../static/IBMPlexMono-Bold.ttf') format('truetype')

@font-face
    font-style normal
    font-weight normal
    font-family 'IBM Plex Mono'
    src local('IBM Plex Mono Regular'), url('../static/IBMPlexMono-Regular.ttf') format('truetype')

*
    box-sizing border-box

html
    height 100%
    width 100vw
    min-height 100 vh

body
    margin 0
    padding 0
    height 100%
    background-size cover
    background linearGradient() fixed
    font-family "IBM Plex Mono", sans-serif

#root
    transition opacity 0.2s ease
    &.hidden
        opacity 0

.auth-please
    font-size 30px
    font-weight bold
    color myWhite
    margin auto
    padding 30px 20px
    text-align center
    background linearGradient()
    border-radius 20px
    width fit-content

    &.hidden
        display none