@import 'colors.styl'
@import 'mixins.styl'
@import 'error.styl'
@import 'header.styl'
@import 'footer.styl'
@import 'search.styl'

@import 'home-gallery.styl'
@import 'signin.styl'
@import 'signup.styl'
@import '404.styl'
@import 'profile.styl'
@import 'trips.styl'
@import 'place.styl'
@import 'create-trip.styl'
@import 'change-password.styl'
@import 'hello.styl'

@font-face
    font-style normal
    font-weight bold
    font-family 'IBM Plex Mono'
    src local('IBM Plex Mono Bold'), url('../static/IBMPlexMono-Bold.ttf') format('truetype')

@font-face
    font-style normal
    font-weight normal
    font-family 'IBM Plex Mono'
    src local('IBM Plex Mono Regular'), url('../static/IBMPlexMono-Regular.ttf') format('truetype')

@font-face
    font-style normal
    font-family 'Hero'
    src local('Hero'), url('../static/Hero.ttf') format('truetype')

*
    box-sizing border-box
    font-family 'Hero'

html
    height 100%
    width 100vw
    min-height 100 vh

body
    margin 0
    padding 0
    height 100%
    background-size cover
    overflow-x hidden
    overflow-y scroll
    scrollbar-width none
    background linearGradient() fixed

    //&::-webkit-scrollbar
    //    width 15px /* Ширина всего элемента навигации */
    //
    //&::-webkit-scrollbar-track
    //    background myBlack
    //
    //&::-webkit-scrollbar-thumb
    //    background-color myGrey
    //    border-radius 10px /* Округление бегунка */

#root
    transition opacity 0.2s ease
    display flex
    flex-direction column
    min-height 100%

    &.hidden
        opacity 0
