.place-page
  mixinSideMenu()

  .place-block
    display flex
    margin 70px 100px 30px 100px
    height 100%
    gap 50px
    justify-content center

  .column1 column2
    display flex
    flex-direction column
    gap 20px

  .place-name
    background-color myBlack
    border-radius 30px
    font-weight bold
    color myWhite
    padding 20px
    font-size 35px
    text-align center
    flex-grow 1
    position relative

    &::before
      content ''
      border-radius 30px
      position absolute
      inset 16px 16px -16px -16px
      background myShadow
      overflow auto
      z-index -1

  .place-header
    display flex
    gap 25px

  .back-button-block
    mixinBlock(myBlack)
    margin auto

    .back-button
      mixinBackButton()
      width 100%
      height 100%

  .place-image
    mixinBlock(myBlack)
    margin auto
    padding 0
    display block
    width 100%
    max-width 400px
    border-radius 30px
    min-width 200px
    aspect-ratio 1 / 1

  .place-image img
    object-fit cover
    border-radius 20px
    height 100%
    width 100%

  hr.solid
    border-top 2px solid #23232320

  .map-container
    mixinBlock(myBlack)
    margin auto
    padding 0
    width 100%
    height 100%
    display block
    max-width 100%
    max-height 100%
    aspect-ratio 1 / 1
    border-radius 30px
    min-width 200px

  .map-class
    width 100%
    height 100%
    border-radius 30px

  @media (max-width 700px)
    .place-block
      flex-direction column

  .place-info
    background-color myBlack
    border-radius 30px
    padding 30px
    font-size 20px
    color myWhite
    margin 30px 0
    position relative

    &::before
      content ''
      border-radius 30px
      position absolute
      inset 16px 16px -16px -16px
      background myShadow
      overflow auto
      z-index -1

  .description
    border 10px
    padding 10px 0

  .review-block
    mixinReviewBlock()

  .user-review-block
    mixinReviewBlock()
    margin-bottom 0

  .review-info
    display flex
    gap 10px
    align-items center

  .rating
    padding 12px 45px
    margin-left auto
    color myWhite
    font-size 17px
    position relative
    &::before
      content ""
      position absolute
      background-color myBlack
      border-radius 30px
      inset 0
      z-index -1
    &::after
      position absolute
      border-radius 30px
      background linearGradient()
      inset 0 auto 0 0
      margin 5px
      width calc(90% * (max(var(--progress, 2), 1.5) / 5))
      content ""
      z-index -1

  .text-average
    font-size 20px
    font-weight 600

  .user-image img
    max-width 45px
    max-height 45px
    border-radius 50%
    display block
    aspect-ratio 1 / 1

  .review-text
    font-size 17px
    padding-bottom 10px

  .leave-review
    mixinReviewBlock()
    display none

  .leave-review.visible
    display flex

  .review-field
    all unset
    padding 12px
    white-space pre-wrap
    overflow-wrap break-word
    text-align start
    width 100%
    overflow-y hidden
    resize none
    border-radius 30px
    border 3px solid myBlack
    box-sizing border-box

  .leave-review-header
    display flex
    justify-content center
    align-items center
    padding 10px


  .leave-review-header-text
    font-size 20px

  .stars
    margin-left auto
    font-size 27px
    display flex
    cursor pointer
    gap 10px
    flex-direction row-reverse

    .star
      color myBlack
      border 2px myBlack

      &:hover
      &:hover ~ .star
      &.selected ~ .star
      &.selected
        background linearGradient() 50% 50% / 100vw 100vh
        color transparent
        background-clip text

  .review-button
    mixinFormButton()

  .delete-review
    margin 10px auto
    cursor pointer
    width 35px
    height 35px
    transition transform 0.3s ease

    &:hover
      transform scale(1.05)

  .user-review
    display none

  .user-review.visible
    display flex
    flex-direction column
    margin 0

  ul
    list-style-type none
    padding 0
    margin 0

    .menu-button
      mixinButton(myBlack, myWhite)
      margin 0
      text-align left
      transition transform  0.3s ease

      &:hover
        transform scale(1.05)
