.profile-page
  .profile-block
    simpleBlock(myWhite)

  .avatar
    width 350px
    height 350px
    border-radius 20px
    object-fit cover
    grid-row span 2
    background-color myBlack

  .information-block
    background-color myBlack
    heigth fit-content
    border-radius 20px
    display grid
    grid-template-rows auto auto auto


  .information-row
    display grid
    grid-template-columns auto auto
    align-items center
    column-gap 10px

  .information-text
    simpleInformationText()

  .information-text-title
    simpleInformationText()
    font-weight bold
    font-size 34px

  .information-back-button
    font-size 30px
    font-weight bold
    color myGrey
    text-align right
    margin 0 20px