.profile-page
  .warning
    padding 7px 25px
    color my-white
    font-weight bold
    font-size 45px
    margin 50px auto

  .warn-message
    text-align center

  .unknown-page-button
    simpleButton(my-black, my-white)
    font-size 25px
