.registration-page
    .auth-title
        simpleTitleGradient()

    .reg-text, .back-button
        simpleFormText()

    .back-button
        width fit-content
        cursor pointer
        font-weight bold
        font-size 20px

    .back-button:hover
        color myRed

    .auth-button
        simpleFormButton()

    .reg-block
        simpleFormBlock()