.registration-page
    .auth-title
        mixinTitleGradient()

    .reg-text, .back-button
        mixinFormText()

    .back-button
        width fit-content
        cursor pointer
        font-weight bold
        font-size 20px

        &:hover
            color myRed

    .auth-button
        mixinFormButton()

    .reg-block
        mixinFormBlock()

    .border
        all unset
        display block
        width 90%
        height 30px
        padding 10px
        border-radius 15px
        margin 10px auto
        background linearGradient() 50% 50% / 100vw 100vh

        &:focus
            background-position 0
