.registration-page
    .auth-title
        simpleTitleGradient()

    reg-text, .back-button
        simpleFormText()

    .back-button
        cursor pointer

    .auth-button
        simpleFormButton()

    .reg-block
        simpleFormBlock()