.registration-page
    .auth-title
        mixinTitleGradient()

    .signup-form
        mixinForm()
        padding 10px

    .reg-text, .back-button
        mixinFormText()

    .back-button
        mixinBackButton()

    .auth-button
        mixinFormButton()
        padding 10px 0
        background linearGradient()

    .reg-block
        mixinFormBlock()

    .border
        mixinBorder()
