simpleButton(buttonColor, textColor)
  padding 7px 25px
  margin-right 15px
  background-color buttonColor
  color textColor
  border none
  border-radius 15px
  cursor pointer
  font-size 17px
  font-weight bold

simpleTitleGradient()
  margin-top 0
  margin-bottom 0
  font-weight bold
  text-align center
  background-clip text
  color transparent
  font-size 30px
  background linearGradient() 50% 50% / 100vw 100vh
  background-clip text

simpleFormBlock()
  background-color myBlack
  padding 20px
  border-radius 30px
  width 400px
  height fit-content
  margin 40px auto

simpleFormText()
  padding-left 15px
  color myWhite
  font-size 17px
  display block
  margin-bottom 10px

simpleFormButton()
  display block
  margin 20px auto
  background-color myGrey
  color myWhite
  padding 10px 35px
  border none
  border-radius 30px
  cursor pointer
  font-size 20px

simpleBlock(blockColor)
  background-color blockColor
  grid-template-columns auto 1fr auto
  border-radius 20px
  max-width 75%
  height fit-content
  display grid
  margin 40px auto
  padding 20px 20px
  column-gap 20px

simpleInformationText()
  margin 15px 20px
  color myWhite
  font-size 24x
