.trips-page
  .warning
    padding 7px 25px
    color myWhite
    font-weight bold
    font-size 45px
    margin 50px auto

  .warn-message
    text-align center

  .unknown-page-button
    simpleButton(myBlack, myWhite)
    font-size 25px
