.trips-page
  mixinSideMenu()

  .blur-element
    position fixed
    inset 0
    width 100%
    height 100%
    backdrop-filter blur(5px)
    background myShadow
    display block
    opacity 1
    transition opacity 0.3s ease
    z-index 990

    &.hidden
      display none

    &.hidden-animation
      opacity 1

  .share-block
    position fixed
    left 50%
    top 50%
    transform translate(-50%, -50%)
    background myWhite
    width 30%
    height fit-content
    padding 40px
    justify-content center
    align-content center
    border-radius 20px
    z-index 998
    display grid
    grid-template-rows auto auto auto
    grid-template-columns 1fr 1fr
    grid-template-areas "a a"\
    "b b"\
    "c d"
    row-gap 15px
    column-gap 10px
    opacity 1
    transition opacity 0.3s ease

    .grid-share-block-title
      grid-area a

    .grid-share-link
      grid-area b

    .grid-read-mode
      grid-area c

    .grid-edit-mode
      grid-area d


    &.hidden
      display none

    &.hidden-animation
      opacity 1

    .share-link
      border 2px solid myLightGrey
      border-radius 10px
      width 100%
      padding 10px
      overflow-x scroll
      overflow-y hidden
      scrollbar-width none
      white-space nowrap
      height 100%

    .share-block-title
      color myBlack
      font-size 27px
      justify-self center
      text-align center

    .read-mode
      background myGrey
      color myWhite
      padding 5px 20px
      cursor pointer
      justify-self center
      text-align center
      align-content center
      border-radius 10px
      width 100%
      transition background 0.3s ease

      &:hover
        background myPink

    .edit-mode
      background myGrey
      color myWhite
      padding 5px 20px
      cursor pointer
      justify-self center
      text-align center
      align-content center
      border-radius 10px
      width 100%
      transition background 0.3s ease

      &:hover
        background myPink

  .trips-block
    mixinBlock(myBlack)
    display flex
    flex-direction column
    margin-top 15px

    @media (max-width 700px)
      margin 0 20px

  .trips-button-row
    display flex
    flex-wrap wrap
    justify-content space-evenly
    padding 0 20px

  .trip-create-button
    mixinButton(myGrey, myLightGrey)
    border-radius 20%
    font-size 30px
    font-weight bold
    display flex
    justify-content center
    align-items center
    transition transform 0.3s ease, background 0.3s ease, color 0.3s ease

    &:hover
      transform scale(1.05)
      background myPink
      color myWhite

    &.hidden
      display none

  .trips-title-row
    display grid
    grid-template-columns auto 1fr
    align-items center

  .trips-title
    font-size 40px
    padding-right 60px
    color myWhite
    text-align center

  hr
    border none
    height 2px
    background-color myGrey
    margin 20px 30px

  .gallery-trips
    display flex
    flex-wrap wrap
    justify-content space-evenly
    padding 0
    gap 15px 0

  .trips-back-button
    mixinBackButton()

  .gallery-item-trips
    display grid
    padding 25px
    border-radius 20px
    background myWhite
    height 130px
    width 70%
    grid-template-rows 80px auto
    row-gap 20px
    transition height 0.3s ease

    @media (max-width 700px)
      width 100%

    &.open
      height 300px

    .gallery-item-trips-top-panel
      display grid
      gap 10px
      align-items center
      grid-template-columns 10% 10% 45% 15% 5% 5%
      grid-template-rows 1fr 1fr
      grid-template-areas "a b c e f h"\
      "a b d e g h"

      @media (max-width 700px)
        grid-template-rows 1fr 1fr 1fr
        grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr
        grid-template-areas "a c c c c c"\
        "a d d d d d"\
        "a . f g h ."

    .gallery-item-trips-bottom-panel
      display flex
      width 100%
      height 100%
      overflow-y hidden
      overflow-x scroll
      scrollbar-width none
      flex-direction row
      column-gap 20px
      opacity 1
      padding-left 10px
      transition opacity 0.3s ease

      &.hidden
        display none

      &.open-animation
        opacity 0

      .trip-photos
        display flex
        flex-direction row
        column-gap 20px

      .add-photo-button
        color myWhite
        background myBlack
        align-content center
        text-align center
        border-radius 20px
        min-width 150px
        min-height 150px
        cursor pointer
        transition background 0.3s ease

        &:hover
          background myPinkShadow

        @media (max-width 700px)
          min-width 100px

      .delete-added-photo-block
        position relative
        min-width 150px
        width 150px
        min-height 150px
        height 150px

        .photo-delete-button
          color myWhite
          display block
          position absolute
          border-radius 0 0 20px 20px
          bottom 0
          width 100%
          background myRed
          text-align center
          align-content center
          object-fit cover
          height 40px
          opacity 0
          cursor pointer
          transition opacity 0.3s ease

          &:hover
            opacity 1

        .added-photo
          position absolute
          color myWhite
          background myPinkShadow
          align-content center
          text-align center
          border-radius 20px
          width 100%
          height 100%
          object-fit cover


    .trips-open-icon-grid
      grid-area a
    .trips-trip-icon-grid
      grid-area b
    .gallery-trips-name-grid
      grid-area c
    .gallery-trips-date-grid
      grid-area d
    .gallery-item-trips-img-grid
      grid-area e
    .trips-edit-icon-grid
      grid-area f
    .trips-share-icon-grid
      grid-area g
    .trips-delete-icon-grid
      grid-area h

  .trips-trip-icon
    width 65px
    height 65px

    @media (max-width 700px)
      display none

  .gallery-item-trips-img
    object-fit contain
    height 100%
    width 100%
    background myBlack
    border-radius 10px

    @media (max-width 700px)
      display none

  .trips-open-icon
    width 35px
    height 35px
    margin auto
    rotate -90deg
    cursor pointer
    transition transform 0.3s ease

    &.open
      transform rotate(90deg)

  .trips-delete-icon
    cursor pointer
    border-radius 10px
    height 100%
    width 100%
    background myBlack
    transition background 0.3s ease

    &:hover
      background myRed

  .trips-edit-icon
    cursor pointer
    border-radius 10px
    height 100%
    width 100%
    background myBlack
    transition background 0.3s ease
    padding 5px

    &:hover
      background myPink

  .trips-share-icon
    cursor pointer
    border-radius 10px
    height 100%
    width 100%
    background myBlack
    transition background 0.3s ease
    padding 5px

    &:hover
      background myPink

  .trips-column-open
    display grid
    align-items center
    grid-template-rows 70px 1fr

  .trips-column-info
    display grid
    grid-template-rows auto auto 1fr

  .trips-column-buttons
    display grid
    grid-template-rows auto auto 1fr
    row-gap 10px

  .gallery-trips-name
    cursor pointer
    font-size 20px
    font-weight bold
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    transition transform 0.3s ease

    &:hover
      transform scale(1.05)

  .gallery-trips-date
    font-size 17px

  .please-block
    align-items center
    display flex
    flex-direction column

    &.hidden
      display none

  .please-img
    height 200px
    width 200px

  .auth-please
    font-size 24px
    color myWhite
    margin auto
    text-align center
    width fit-content
