{{#each newTripPhotos}}
    <div class="delete-added-photo-block">
        <img class="added-photo" src="/photos/{{photoPath}}" alt="Фото поездки">
        <div class="photo-delete-button" photoPath="{{photoPath}}">удалить</div>
    </div>
{{/each}}