{{#each reviews}}
    <li class="gallery-item-reviews">
        <img src="{{avatarPathReview}}" alt="Картинка отзыва" class="gallery-item-reviews-img img-grid">
        <div class="gallery-item-reviews-name name-grid">{{placeName}}</div>
        <div class="gallery-item-reviews-score rating-grid">{{rating}}/5</div>
        <div class="gallery-item-reviews-text text-grid">{{reviewText}}</div>>
    </li>
{{/each}}
