{{#each trips}}
    <li class="gallery-item-profile-trips">
        <div class="profile-trip-row-name">
            <img src="{{../tripIcon}}" alt="Иконка путешествия" class="trip-icon">
            <div class="gallery-profile-trip-name">{{name}}</div>
        </div>
        <div class="gallery-profile-trip-date">{{startDate}} - {{endDate}}</div>
        <img src="" alt="" class="gallery-item-profile-trips-img">
    </li>
{{/each}}
