{{#each reviews}}
    <li class="gallery-item-reviews">
<!--        <img src="" alt="Картинка отзыва" class="gallery-item-reviews-img">-->
        <div class="gallery-item-reviews-img"></div>>
        <div class="gallery-item-reviews-column">
            <div></div>
            <div class="gallery-item-reviews-name">{{placeName}}</div>
            <div class="gallery-item-reviews-score">{{rating}}/5</div>
        </div>
        <div class="gallery-item-reviews-text">{{reviewText}}</div>>
    </li>
{{/each}}
