{{#each attractions}}
    <li class="gallery-item">
        <div>
        <a href="/places/{{id}}"></a>
        <img src="{{imagePath}}" alt="{{name}}">
            <div class="gallery-name">{{name}}</div>
        </div>
    </li>
{{/each}}
