{{#each attractions}}
    <li class="gallery-item">
        <a href="/places/{{id}}"></a>
        <img src="{{imagePath}}" alt="{{name}}">
        <div class="gallery-name">{{name}}</div>
    </li>
{{/each}}
